<div class="col-md-6 col-md-offset-3">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Edit this Pin</h2>
				<%= image_tag @pin.image.url(:medium) %>			
			</div>
			<div class="panel-body">
				<%= render 'form' %>
			</div>
		</div>
	</div>	
</div>