<div class="row">
	
	<div class="col-md-8">

		
		<% @pins.each do |pin| %>
			<%= link_to pin.title, pin %> - <%= link_to "Edit", edit_pin_path(pin) %> | <%= link_to "destroy", pin, method: :delete, data: {confirm: 'Are you sure?'}  %>
			<p>submitted by <%= pin.user.email %></p>
			<hr>
			
		<% end %>
		
	</div>
	
</div>