@import "bootstrap-sprockets";
@import "bootstrap";

body { 
  padding-top: 80px; 
  font-family: Arvo; 
  background-image: url(/assets/leather_1.png);
}

footer { margin-top: 100px; }

.navbar-default .navbar-nav > li > a {
    color: #EAF6EF;
}

.btn-primary {
    
    background-color: #33b776;
    border-color: #EAF6EF;

}